body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: #f5f5f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
}

.tab-switch {
    display: flex;
}

.tab-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-button:hover,
.tab-button.active {
    background-color: #0056b3;
}

.theme-selector {
    display: flex;
    align-items: center;
}

.theme-selector label {
    margin-right: 10px;
}

.theme-selector select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    margin: 0;
}

.tab-content {
    flex: 1;
    display: none;
    padding: 20px;
    overflow: auto;
}

#inputJsonTab textarea {
    width: 100%;
    height: calc(100vh - 100px);
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    resize: none;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode #inputJsonTab textarea {
    background-color: #2c2c2c;
    color: #f5f5f5;
}

#keyFilter {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#jsonKeysDisplay {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    height: calc(100vh - 150px);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode #jsonKeysDisplay {
    background-color: #2c2c2c;
    color: #f5f5f5;
}

#jsonTreeContainer {
    margin-top: 20px;
}